Repository FRONT-END-BOOTCAMP-PLUS-5/KNACK, pull requests merged in 2025-09, with the labels that each got.

#110 [hotfix] prisma migration reset
  .gitignore
  app/api/payments/[id]/route.ts
  app/api/payments/fail/route.ts
  backend/payments/applications/dtos/CreatePaymentDto.ts
  backend/payments/applications/dtos/GetPaymentDto.ts
  backend/payments/applications/usecases/GetOrderInPaymentsUseCase.ts
  backend/payments/domains/repositories/PaymentRepository.ts
  backend/payments/repositories/PrPaymentRepository.ts
  prisma/migrations/20250903125937_init_migrate/migration.sql
  prisma/migrations/20250903130656_payment_table_fix/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  types/payment.ts
Labels: prisma, hotfix

#112 [fix] 상품목록 바텀시트 선택 리스트 초기화 이슈 해결
  components/common/BottomSheet/index.tsx
  hooks/search/useSearchBottomSheetInit.ts
Labels: refactor, hotfix

#113 [feat] 이슈 탬플릿 설정 추가
  .github/ISSUE_TEMPLATE/기능-개발-이슈-탬플릿.md
  .github/ISSUE_TEMPLATE/버그-보고-이슈-탬플릿.md
Labels: feat

#118 [refactor] layout/ssr페이지 메타데이터 추가, 메타태그 추가하는 로직 함수로 분리
  app/(user)/layout.tsx
  app/(user)/products/[id]/page.tsx
  app/(user)/search/page.tsx
  constraint/metaData.ts
  public/images/Knack_og_logo.png
  utils/createMetaData.ts
Labels: feat, refactor

#119 [feat, prisma] 결제 정보 저장하는것 snapshot 식으로 변경
  .github/ISSUE_TEMPLATE/기능-개발-이슈-탬플릿.md
  .github/ISSUE_TEMPLATE/버그-보고-이슈-탬플릿.md
  app/(user)/payments/checkout/checkoutPage.module.scss
  app/(user)/payments/checkout/page.tsx
  app/(user)/payments/success/page.tsx
  app/(user)/payments/success/successPage.module.scss
  app/api/orders/[id]/route.ts
  app/api/orders/route.ts
  app/api/payments/[id]/route.ts
  app/api/payments/fail/route.ts
  app/api/payments/route.ts
  backend/orders/applications/dtos/CreateOrderEntityDto.ts
  backend/orders/applications/dtos/CreateOrderItemDto.ts
  backend/orders/applications/dtos/GetOrderDto.ts
  backend/orders/applications/dtos/GetOrderItemDto.ts
  backend/orders/applications/usecases/CreateOrderUseCase.ts
  backend/orders/applications/usecases/GetOrderByIdUseCase.ts
  backend/orders/domains/repositories/OrderRepository.ts
  backend/orders/repositories/PrOrderRepository.ts
  backend/payments/applications/dtos/CreatePaymentDto.ts
  backend/payments/applications/dtos/GetPaymentDto.ts
  backend/payments/applications/usecases/ConfirmPaymentUseCase.ts
  backend/payments/applications/usecases/CreatePaymentUseCase.ts
  backend/payments/applications/usecases/GetOrderInPaymentsUseCase.ts
  backend/payments/applications/usecases/GetPaymentsbyUserIdUseCase.ts
  backend/payments/domains/repositories/PaymentRepository.ts
  backend/payments/repositories/PrCardRepository.ts
  backend/payments/repositories/PrPaymentRepository.ts
  backend/reviews/applications/dtos/ReviewDto.ts
  backend/reviews/applications/usecases/GetMyReviewsUseCase.ts
  backend/reviews/applications/usecases/GetReviewableOrdersUseCase.ts
  backend/reviews/domains/entities/Order.ts
  backend/reviews/repositories/PrOrderRepository.ts
  backend/reviews/repositories/PrReviewRepository.ts
  components/Payments/Order/OrderSummaryCard/index.tsx
  prisma/migrations/20250907140248_snapshots_table_add/migration.sql
  prisma/migrations/20250907150613_snapshot_table_delete/migration.sql
  prisma/migrations/20250907152501_order_table_option_value_id_delete/migration.sql
  prisma/migrations/20250909055824_order_table_product_id_rollback/migration.sql
  prisma/schema.prisma
  types/order.ts
  types/payment.ts
  types/product.ts
  utils/orders/index.tsx
Labels: feat, refactor, prisma, hotfix

#122 [hotfix] 마이페이지 주문 내역 불러오는것 수정
  app/(user)/my/buying/[id]/page.tsx
  app/(user)/my/buying/page.tsx
  app/(user)/my/page.tsx
  app/(user)/payments/success/page.tsx
  app/api/payments/route.ts
  backend/orders/applications/dtos/CreateOrderEntityDto.ts
  backend/orders/applications/dtos/CreateOrderItemDto.ts
  backend/orders/applications/usecases/CreateOrderUseCase.ts
  backend/orders/repositories/PrOrderRepository.ts
  backend/payments/applications/usecases/GetPaymentsbyUserIdUseCase.ts
  backend/payments/domains/entities/Payment.ts
  backend/payments/domains/repositories/PaymentRepository.ts
  backend/payments/repositories/PrPaymentRepository.ts
  components/my/buying/BuyingList/buyingList.module.scss
  components/my/buying/BuyingList/index.tsx
  types/order.ts
  types/payment.ts
Labels: hotfix

#125 [hotfix] 주문 상세, 결제 상세 로직 수정
  app/(user)/my/buying/[id]/buying.module.scss
  app/(user)/my/buying/[id]/page.tsx
  app/(user)/my/order/[id]/orderPage.module.scss
  app/(user)/my/order/[id]/page.tsx
  app/(user)/payments/checkout/page.tsx
  app/(user)/payments/success/page.tsx
  app/api/payments/[id]/route.ts
  app/api/payments/route.ts
  backend/orders/repositories/PrOrderRepository.ts
  backend/payments/applications/dtos/CreatePaymentDto.ts
  backend/payments/applications/usecases/GetOrderInPaymentsUseCase.ts
  backend/payments/domains/entities/Payment.ts
  backend/payments/domains/repositories/PaymentRepository.ts
  backend/payments/repositories/PrPaymentRepository.ts
  components/common/Flex/flex.module.scss
  components/common/Flex/index.tsx
  components/my/PaymentReceipt/index.tsx
  components/my/PaymentReceipt/paymentReceipt.module.scss
  components/my/buying/BuyingList/index.tsx
  prisma/migrations/20250909141815_payments_table_phone_add/migration.sql
  prisma/schema.prisma
  types/order.ts
  types/payment.ts
Labels: feat, prisma, hotfix

#128 [hotfix] 결제 완료시에 포인트 차감, 쿠폰 차감 반영
  app/(user)/my/order/[id]/page.tsx
  app/(user)/payments/checkout/page.tsx
  app/(user)/payments/success/page.tsx
  app/api/coupon/route.ts
  app/api/payments/route.ts
  backend/coupon/applications/usecases/DeleteCouponUseCase.ts
  backend/coupon/domains/repositories/CouponRepository.ts
  backend/coupon/repositories/PrCouponRepository.ts
  backend/payments/applications/dtos/CreatePaymentDto.ts
  backend/payments/domains/entities/Payment.ts
  backend/payments/repositories/PrPaymentRepository.ts
  backend/user/applications/usecases/UpdateUserUseCase.ts
  backend/user/domains/entities/User.ts
  backend/user/repositories/PrUserRepository.ts
  prisma/migrations/20250911081932_payment_table_provider_add/migration.sql
  prisma/schema.prisma
  services/coupon/index.ts
  types/payment.ts
  types/user.ts
Labels: prisma, hotfix
